<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="musicos">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Músicos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="casas">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Casas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="instrumentos">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Instrumentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lancamentos">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Lançamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorios">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Relatórios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
