<ion-app>
  <ion-menu contentId="conteudo-principal" side="start" type="overlay" [disabled]="ehDesktop">
    <ion-header>
      <ion-toolbar>
        <ion-title>S.R.M.E.</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none" class="lista-do-menu">
        <ion-list-header>Manutenção</ion-list-header>

        <ion-menu-toggle>
          <ion-item button detail="true" routerLink="/tabs/backup">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            <ion-label>Backup dos dados</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="conteudo-principal"></ion-router-outlet>
</ion-app>
