.rol-musicos {
  max-height: 338px;
  overflow-y: auto;

  overscroll-behavior: contain;
}

:host-context(html.srme-desktop) .rol-musicos {
  max-height: 442px;
}

.erro {
  display: block;
  font-size: 0.85rem;
}
